.home-page {
  margin-top: 60px;
  position: relative;
}

.notice {
  background-color: red;
  padding: 10px;
  width: 100%;

  background-color: red;
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  color: #fff;
  z-index: 1111;
  text-align: center;
}

.banner-logo {
  width: 150px;
  margin: auto;
}

.get-started-btn {
  position: fixed;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  background-color: #000;
  z-index: 11111111111;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 13px 12px;
  border-radius: 5px;
  transition: 0.3s;

  @media only screen and (max-width: 767px) {
    display: none;
  }
  &:hover {
    color: #fff !important;
    background-color: #000;
  }
  .divider {
    height: 15px;
  }
}

.banner-section {
  // background: url("/assets/images/banner.jpg");
  background-color: $primary;
  background-size: cover;
  // min-height: 766px;
  max-width: 1920px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 26vw;
  padding-top: 8rem;

  @media only screen and (max-width: 650px) {
    padding-bottom: 140px;
    padding-top: 6rem;
  }

  .sectionTitle {
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    color: $secondary;
    text-align: center;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    color: #fff;

    @media only screen and (max-width: 800px) {
      font-size: 32px;
      line-height: 37px;
      width: 90%;
    }

    @media only screen and (max-width: 600px) {
      margin-bottom: 20px;
      padding-top: 25px;
    }
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    color: #fff;

    @media only screen and (max-width: 600px) {
      margin: 0;
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 20px;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    position: relative;
    z-index: 111;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }

    a {
      padding: 15px 50px;

      @media only screen and (max-width: 600px) {
        width: 100%;
        text-align: center;
      }
    }

    .btn-primary {
      margin-right: 30px;
      text-align: center;
      @media only screen and (max-width: 600px) {
        margin: 0;
        margin-bottom: 15px;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    .btn-secondary {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .mySwiper-wrap {
    position: relative;
    position: absolute;
    bottom: -28%;
    width: 80%;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    @media only screen and (max-width: 650px) {
      bottom: -19%;
    }

    .mySwiper {
      position: relative;
      .button-next {
        position: absolute;
        top: 30%;
        right: 0;
        z-index: 1;

        @media only screen and (max-width: 800px) {
          right: 35%;
          top: 87%;
        }

        @media only screen and (max-width: 700px) {
          display: none;
          img {
            width: 40px;
            height: 40px;
          }
        }

        @media only screen and (max-width: 500px) {
          top: 85%;
          right: calc(50% - 70px);
          img {
            width: 30px;
            height: 30px;
          }
        }
      }

      .button-prev {
        position: absolute;
        top: 30%;
        left: 0;
        z-index: 1;

        @media only screen and (max-width: 800px) {
          left: 35%;
          top: 87%;
        }
        @media only screen and (max-width: 700px) {
          img {
            width: 40px;
            height: 40px;
          }
        }
        @media only screen and (max-width: 500px) {
          top: 85%;
          display: none;

          left: calc(50% - 70px);
          img {
            width: 30px;
            height: 30px;
          }
        }
      }

      .swiper-pagination {
        bottom: 0%;
        width: 20%;
        left: 50%;
        transform: translate(-50%);
        width: auto;

        // @media only screen and (max-width: 600px) {
        //   bottom: 4%;
        //   left: 50%;
        //   transform: translate(-50%);
        // }

        // @media only screen and (max-width: 500px) {
        //   bottom: 5%;
        //   left: 50%;
        //   transform: translate(-50%);
        // }

        // @media only screen and (max-width: 450px) {
        //   bottom: 6%;
        //   left: 50%;
        //   transform: translate(-50%);
        // }

        // @media only screen and (max-width: 400px) {
        //   bottom: 4%;
        // }

        .swiper-pagination-bullet {
          width: 15px;
          height: 15px;

          @media only screen and (max-width: 800px) {
            width: 10px;
            height: 10px;
          }
        }
        .swiper-pagination-bullet-active {
          @media only screen and (max-width: 500px) {
            background: $primary !important;
          }
        }
      }

      .swiper-wrapper {
        padding-bottom: 4rem;
        .swiper-slide {
          display: flex;
          justify-content: center;

          .banner-image {
            width: 100%;
            width: calc(100% - 10.4rem);
            max-width: 1220px;

            @media only screen and (max-width: 625px) {
              width: 100%;
              width: 290px;
            }
          }
        }
      }
    }
  }

  .usk-navigation {
    position: relative;
  }

  .shape1 {
    position: absolute;
    bottom: -30%;
    left: 5%;
    width: 14%;

    @media only screen and (max-width: $ipadProResolution) {
      display: none;
    }
  }

  .shape2 {
    position: absolute;
    bottom: -48%;
    right: 17%;
    width: 14%;

    @media only screen and (max-width: $ipadProResolution) {
      display: none;
    }
  }
}

.new-feature-section {
  padding-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17vw;

  @media only screen and (max-width: $mobileResolution) {
    margin-top: 29vw;
  }

  .sectionTitle {
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    text-align: center;
    margin-bottom: 60px;

    @media only screen and (max-width: 800px) {
      font-size: 32px;
      line-height: 37px;
    }
  }

  .feature-wrap {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    gap: 5%;
    width: 100%;

    @media only screen and (max-width: 900px) {
      gap: 4%;
    }

    .features {
      flex-basis: 46%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 74px;

      @media only screen and (max-width: 900px) {
        flex-basis: 48%;
      }

      @media only screen and (max-width: 600px) {
        flex-basis: 100%;
      }

      img {
        margin-bottom: 16px;
      }

      .f-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 8px;
        text-align: center;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
    }
  }
}

// .features-section{
//   background: $primary;
//   padding-top: 60px;
//   padding-bottom: 60px;

//   .sectionTitle{
//     font-weight: 700;
//     font-size: 56px;
//     line-height: 68px;
//     color: #fff;
//     text-align: center;
//     margin-bottom: 60px;
//   }
//   .feature-wrap{
//     margin-bottom: 40px;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     margin-left: auto;
//     margin-right: auto;
//     max-width: 1209px;

//     @media only screen and (max-width:900px){
//       flex-direction: column;
//     }

//     .features{
//       flex-basis: 48%;

//       @media only screen and (max-width:900px) {
//         flex-basis: 100%;
//       }

//       .f-title-wrap{
//       display: flex;
//       align-items: center;
//       margin-bottom: 5px;

//       .count{
//         background-color: #fff;
//         color: $primary;
//         padding: 4px 12px;
//         border-radius: 5px;
//         margin-right: 13px;
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 24px;
//       }

//       .f-title{
//         color: #fff;
//         font-weight: 600;
//         font-size: 20px;
//         line-height: 24px;
//       }
//     }

//     p{
//       color: #fff;
//       font-weight: 400;
//       font-size: 16px;
//       line-height: 24px;
//     }
//     }
//   }
// }

.navbar-brand {
  img {
    max-height: 100px;
  }
}

.about-us {
  margin-top: 250px;
  margin-bottom: 150px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 160px;

  @media only screen and (max-width: 800px) {
    margin-top: 100px;
  }

  // @media only screen and (max-width:1900px) {
  //   margin-top: 550px;
  // }

  // @media only screen and (max-width:1400px) {
  //   margin-top: 450px;
  // }

  // @media only screen and (max-width:$ipadProResolution) {
  //   margin-top: 210px;
  // }

  // @media only screen and (max-width:900px){
  //   margin-top: 250px;
  // }

  .left-right-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 900px) {
      flex-direction: column;
    }

    .left {
      width: 52%;

      @media only screen and (max-width: 900px) {
        width: 100%;
      }

      @media only screen and (max-width: 800px) {
        margin-bottom: 80px;
      }

      .sectionTitle {
        font-weight: 700;
        font-size: 56px;
        line-height: 68px;
        margin-bottom: 60px;

        @media only screen and (max-width: 800px) {
          font-size: 32px;
          line-height: 37px;
          width: 90%;
        }

        @media only screen and (max-width: $ipadProResolution) {
          margin-bottom: 40px;
        }
      }

      .paragraph-wrap {
        margin-bottom: 111px;

        @media only screen and (max-width: $ipadProResolution) {
          margin-bottom: 60px;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #757575;
          margin-bottom: 12px;
        }
      }

      a {
        padding: 15px 35px !important;
      }
    }
    .right {
      width: 48%;
      text-align: center;

      @media only screen and (max-width: 900px) {
        width: 100%;
        // padding: 1rem;
      }

      .author {
        width: 200px;
        border-radius: 50%;
        margin-bottom: 10px;
      }

      // img {
      //   width: 100%;
      // }
    }
  }
}

.footer {
  img {
    max-height: 80px;
  }
}

.how-it-works {
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background-color: $primary;
  padding-top: 60px;
  padding-bottom: 60px;

  .sectionTitle {
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    text-align: center;
    padding-bottom: 60px;
    color: #fff;

    @media only screen and (max-width: 800px) {
      font-size: 32px;
      line-height: 37px;
      width: 90%;
    }
  }

  .swiper-slide {
    padding-bottom: 4rem;
  }
  .swiper-pagination2 {
    bottom: 5%;
    // width: 20%;
    left: 50%;
    transform: translateY(-14px);
    text-align: center;

    // @media only screen and (max-width: 600px) {
    //   bottom: 4%;
    //   left: 50%;
    //   transform: translate(-50%);
    // }

    // @media only screen and (max-width: 500px) {
    //   bottom: 5%;
    //   left: 50%;
    //   transform: translate(-50%);
    // }

    // @media only screen and (max-width: 450px) {
    //   bottom: 6%;
    //   left: 50%;
    //   transform: translate(-50%);
    // }

    // @media only screen and (max-width: 400px) {
    //   bottom: 4%;
    // }

    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      background-color: #fff;
      @media only screen and (max-width: 800px) {
        width: 10px;
        height: 10px;
      }
    }
    .swiper-pagination-bullet-active {
      @media only screen and (max-width: 500px) {
        // background: $secondary !important;
      }
    }
  }

  .tab-wrap {
    width: 100%;
  }

  .left-right-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media only screen and (max-width: 1100px) {
      flex-direction: column;
    }

    .left {
      width: 40%;
      position: relative;
      .how-it-works {
        margin: 0;
        padding-top: 0;
      }

      @media only screen and (max-width: 1100px) {
        width: 100%;
      }

      img {
        width: 100%;
      }
      .button-next {
        position: absolute;
        width: 60px;
        bottom: 0;
        z-index: 1111111;
        right: 0;
      }

      .button-prev {
        position: absolute;
        width: 60px;
        bottom: 0;
        left: 0;
        z-index: 11111111;
      }

      .swiper-pagination {
        .swiper-pagination-bullet {
          width: 15px;
          height: 15px;
          background: #fff;
        }
        .swiper-pagination-bullet-active {
          background-color: #000;
        }
      }
    }

    .right {
      width: 53%;

      @media only screen and (max-width: 1100px) {
        width: 100%;
        margin-top: 70px;
      }

      .nav {
        @media only screen and (max-width: 1100px) {
          display: flex;
          justify-content: space-between;
          flex-direction: row !important;
        }

        @media only screen and (max-width: 650px) {
          flex-direction: column !important;
          align-items: center;
        }

        .nav-link {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: #fff;
          color: $secondary;
          margin-bottom: 34px;

          @media only screen and (max-width: 1100px) {
            width: 33%;
          }

          @media only screen and (max-width: 650px) {
            width: 95%;
            margin-bottom: 15px;
          }

          &.active {
            border-top: 5px solid $secondary;
          }

          .span-wrap {
            display: flex;
            align-items: center;

            .tab-count {
              font-weight: 600;
              font-size: 20px;
              line-height: 24px;
              letter-spacing: 1.2px;
              margin-right: 16px;

              @media only screen and (max-width: 900px) {
                margin-right: 5px;
                font-size: 16px;
              }
            }

            .tab-name {
              font-weight: 500;
              font-size: 20px;
              line-height: 24px;

              @media only screen and (max-width: 900px) {
                font-size: 16px;
              }
            }

            img {
              height: 60px;
              width: 60px;
              @media only screen and (max-width: 900px) {
                height: 30px;
                width: 30px;
              }
            }
          }
        }
      }

      .points-wrap {
        display: flex;
        margin-bottom: 45px;

        .count {
          background: #eff3fd;
          color: $primary;
          border-radius: 5px;
          padding: 33px 37px;
          font-weight: 600;
          font-size: 32px;
          line-height: 24px;
          width: 90px;
          height: 90px;

          @media only screen and (max-width: $mobileResolution) {
            min-width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
          }
        }

        .points {
          margin-left: 20px;

          .title {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 6px;
            color: #fff;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            margin: 0;
          }
        }
      }
    }
  }
}

.FAQ-section {
  margin-bottom: 100px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  .sectionTitle {
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    text-align: center;
    margin-bottom: 117px;

    @media only screen and (max-width: 800px) {
      font-size: 32px;
      line-height: 37px;
      width: 90%;
      margin-bottom: 47px;
    }
  }
}

.testimonial-section {
  background-color: $primary;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  max-height: 534px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  .sectionTitle {
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    text-align: center;
    margin-bottom: 45px;
    max-width: 55%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (max-width: 800px) {
      font-size: 32px;
      line-height: 37px;
      width: 90%;
    }
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 12px;
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .button-next {
    position: absolute;
    bottom: 25%;
    right: 5%;
    z-index: 1;

    @media only screen and (max-width: 800px) {
      bottom: -42%;
      right: calc(50% - 100px);
    }

    @media only screen and (max-width: 626px) {
      bottom: -46%;
    }

    @media only screen and (max-width: 445px) {
      bottom: -60%;
    }

    @media only screen and (max-width: 295px) {
      bottom: -65%;
      right: 10%;
    }

    // @media only screen and (max-width:352px){
    //   right: 22%;
    // }
  }

  .button-prev {
    position: absolute;
    bottom: 25%;
    left: 5%;
    z-index: 11;

    @media only screen and (max-width: 800px) {
      bottom: -42%;
      left: calc(50% - 100px);
    }

    @media only screen and (max-width: 626px) {
      bottom: -46%;
      left: calc(50% - 100px);
    }

    @media only screen and (max-width: 450px) {
      bottom: -60%;
      left: calc(50% - 100px);
    }

    @media only screen and (max-width: 352px) {
      left: 22%;
    }

    @media only screen and (max-width: 295px) {
      bottom: -65%;
      left: 10%;
    }
  }

  .mySwiper2 {
    padding-bottom: 100px;
    position: relative;
    width: 80%;

    @media only screen and (max-width: $mobileResolution) {
      width: 100%;
    }

    .swiper-pagination {
      bottom: 0;
      @media only screen and (max-width: 352px) {
        bottom: 25px;
      }

      @media only screen and (max-width: 295px) {
        bottom: 15px;
      }

      .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
      }
    }
  }

  .swiper-slide {
    background-color: #fff;
    border-radius: 5px;
    padding: 26px;
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 30px 104px rgba(0, 0, 0, 0.02),
      0px 24px 114px rgba(0, 0, 0, 0.04), 0px 10px 34px rgba(32, 32, 32, 0.08),
      0px 8px 40px rgba(0, 0, 0, 0.1);

    @media only screen and (max-width: $mobileResolution) {
      box-shadow: 0px -30px 4px rgb(0 0 0 / 2%), 0px -6px 4px rgb(1 0 0 / 4%),
        0px 4px 4px rgb(32 32 32 / 8%), 0px 0px 0px rgb(0 0 0 / 10%);
    }

    @media only screen and (max-width: 450px) {
      height: 450px;
      padding: 15px;
    }

    @media only screen and (max-width: 295px) {
      height: 470px;
    }

    .profile-mid-wrap {
      .profile {
        display: flex;
        margin-bottom: 20px;
        @media only screen and (max-width: 380px) {
          align-items: center;
        }

        .left {
          width: 90px;
          height: 90px;
          margin-right: 20px;
          display: flex;
          align-items: center;
          img {
            width: 100%;
            height: auto;
          }
        }

        .right {
          .name {
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            @media only screen and (max-width: 380px) {
              font-size: 16px;
              line-height: 20px;
            }
          }

          .position {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 6px;
            @media only screen and (max-width: 380px) {
              font-size: 8px;
              line-height: 16px;
              margin: 0;
            }
          }
          .stars {
            img {
              @media only screen and (max-width: 380px) {
                width: 100px;
              }

              // @media only screen and (max-width:280px){
              //   width: 90px;
              // }
            }
          }
        }
      }

      .mid {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #757575;
        margin-bottom: 12px;
        max-width: 700px;
        margin-bottom: auto;
      }
    }

    .links {
      margin-top: auto;
      gap: 12px;
    }
  }
}

.get-started {
  background: $primary;
  padding-top: 90px;
  padding-bottom: 90px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  .title-form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sectionTitle {
      font-weight: 700;
      font-size: 56px;
      line-height: 68px;
      text-align: center;
      margin-bottom: 45px;
      max-width: 55%;
      color: #fff;

      @media only screen and (max-width: 800px) {
        font-size: 32px;
        line-height: 37px;
        width: 90%;
      }
    }

    .input-group {
      width: auto !important;
      margin-left: auto;
      margin-right: auto;

      button {
        background: #fff;
        color: #a6a6a6;
        border: 0;
        box-shadow: none;
        display: flex;
        align-items: center;
        padding-right: 70px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        @media only screen and (max-width: 600px) {
          padding: 10px;
          font-size: 14px;
        }

        img {
          border: 1px solid $primary;
          padding: 5px;
          border-radius: 5px;
          margin-right: 12px;
        }

        &::after {
          display: none;
        }
      }
      a {
        padding: 14px 82px;
        display: flex;
        align-items: center;

        @media only screen and (max-width: 600px) {
          font-size: 14px;
        }

        @media only screen and (max-width: 460px) {
          padding: 12px 20px;
        }
      }
    }
  }
}

.get-in-touch {
  margin-top: 100px;
  margin-bottom: 80px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  .sectionTitle {
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    text-align: center;
    margin-bottom: 60px;

    @media only screen and (max-width: 800px) {
      font-size: 32px;
      line-height: 37px;
      width: 90%;
    }
  }

  .left-right-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 1000px) {
      flex-direction: column;
    }

    .left {
      width: 48%;

      @media only screen and (max-width: 1000px) {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }

    .right {
      width: 48%;

      @media only screen and (max-width: 1000px) {
        width: 100%;
        margin-top: 50px;
      }

      form {
        .row {
          .col {
            margin-bottom: 16px;
            input {
              padding: 29px 41px;
              border: 0;
              background: #eff3fd;
              border-radius: 5px;
              margin-bottom: 0;

              min-height: 77px !important;
              max-height: 77px !important;

              font-size: 1rem;

              @media only screen and (max-width: $mobileResolution) {
                padding: 9px 21px;
              }

              &::placeholder {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.2px;
                color: #757575;
              }
            }
          }

          &:nth-of-type(5) {
            .col {
              margin-bottom: 24px;

              input {
                height: 180px;

                &::placeholder {
                  text-align: start;
                  margin-bottom: auto;
                }
              }
            }
          }
        }
        .form-control {
          margin-bottom: 35px;
          padding: 29px 41px;
          border: 0;
          background: #eff3fd;
          border-radius: 5px;

          @media only screen and (max-width: $mobileResolution) {
            padding: 15px 21px;
          }
        }

        a {
          padding: 15px 80px;
        }
      }
    }
  }
}

.tnc-page {
  padding-top: 10rem;

  min-height: calc(100vh - 100px);

  @media only screen and (max-width: $mobileResolution) {
    padding-top: 7rem;
  }

  h1 {
    font-weight: 700;
  }

  .sec-title {
    font-weight: 700;
    margin-bottom: 4px;
    text-decoration: underline;
  }
}
label.error {
  color: red;
  font-size: 14px;
}
textarea {
  margin-bottom: 0 !important;
  color: #000;
  font-size: 1rem;

  @media only screen and (max-width: $mobileResolution) {
    padding: 9px 21px;
    min-height: 10rem !important;
  }
  &::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #757575;
  }
}

.submit-btn {
  width: 180px;
  height: 54px;
  border-radius: 5px;
}
